@model TBPB_Shop.ViewModel.ProductsForCategoryViewModel

@foreach (var product in Model.Products)
{
    <div class="d-flex flex-column flex-md-row">
        <div class="font-weight-bold d-flex flex-column flex-grow-1">@product.Name</div>
        <div class="d-flex">
            <span>@Model.GetNaturalPart(product.Price)</span>
            @if (Model.GetCommaPart(product.Price) == 0)
            {
                <sup class="put-decimal">@Model.GetCommaPart(product.Price)</sup>
                <sup class="put-decimal">@Model.GetCommaPart(product.Price)</sup>
            }
            <span>Lei</span>
        </div>
    </div>
    <div style="width: 100%; height: 1px; border-top: 1px solid #656966; margin: 15px 0px;"></div>

}