@model TBPB_Shop.ViewModel.CategoryViewModel
@using TBPB_Shop.ViewModel
@{
    ViewData["Title"] = "Index";
}

<a class="btn btn-primary m-3" style="color: white;" data-toggle="modal" data-target="#newCategoryModal">Create</a>

<table class="table table-striped table-bordered w-75">
    <thead>
        <tr>
            <th>Category name</th>
            <th style="width: 220px !important;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Categories)
        {
            <tr id="category-@item.Id">
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>
                    <a href="" id="@item.Id" onclick="loadUpdateCategoryPage(this.id)" data-toggle="modal" data-target="#updateCategoryModal">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">See products</a> |
                    <a href="" id="category-to-delete-@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<form method="post" asp-controller="Categories" asp-action="Create">
    <div class="modal fade" id="newCategoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="contId">
                        <partial name="_Create" model="new NewCategoryViewModel()" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form method="post" asp-controller="Categories" asp-action="Update">
    <div class="modal fade" id="updateCategoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="updateCategoryForm"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </div>
        </div>
    </div>
</form>


@section scripts{ 
    <script>
        function loadUpdateCategoryPage(id) {
            loadServerPartialView("#updateCategoryForm", "/Categories/Update?id=" + id);
        }

        $(document).ready(function () {
            @foreach (var category in Model.Categories)
            {
                @: confirmDelete("@category.Id");
            }
        });

        function confirmDelete(id) {
            $("#category-to-delete-" + id).on("click", function () {
                console.log("x");
                if (confirm("Are you sure you want to delete this?\n\nAll associated products with this category\nwill be removed\n\n*In order to delete a category\ndouble confirm is necessary")) {
                    console.log("y");
                    $.ajax({
                        url: "/Categories/Delete?id=" + id,
                        success: function () {
                            document.getElementById("category-" + id).style.display = "none";
                        }
                    });
                }
            });
        }
    </script>
}