@model TBPB_Shop.ApplicationLogic.Models.Product


<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Item</title>

    <link href="~/ShopPage/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/ShopPage/css/shop-item.css" rel="stylesheet">

</head>

<body>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="card mt-4">
                    <div class="card-body">
                        <h4 class="card-title">
                            @Html.DisplayFor(model => model.Name)
                        </h4>
                        <h5>@Html.DisplayFor(model => model.Price)$</h5>
                        <h5>@Html.DisplayFor(model => model.QuantityOnStoc)</h5>
                        <p class="card-text">This is a product!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="~/ShopPage/vendor/jquery/jquery.min.js"></script>
    <script src="~/ShopPage/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>